[submodule "public"]
	path = public
	url = git@github.com:theresacheng/theresacheng.github.io.git
	branch = master
[submodule "public/public"]
	path = public/public
	url = git@github.com:theresacheng/theresacheng.github.io.git
	branch = master
